* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;

    background-color: #ffffff;
    color: #000000;

    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(240, 240, 90);
    border-radius: 20px;
}

#hero {
    width: 100vw;
    height: 100vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img {
    position: absolute;
    top: 20px;
    left: 40px;
    transform: translate(-50%, -50%) scale(0.1) rotate(10deg);
    animation: fadeIn 0.5s;
    transition: all 0.5s ease;
}

img:hover {
    z-index: 1;
}

.products {
    width: 100wh;
    height: 100vh;
    background-color: rgb(240, 240, 90);
    position: relative;
}

.products h2 {
    position: absolute;
    top: 50%;
    left: 50px;
}